// BEGIN: normalize.css
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{display:inline;zoom:1}audio:not([controls]){display:none}[hidden]{display:none;visibility:hidden}html{font-size:100%;overflow-y:scroll;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body,button,input,select,textarea{font-family:sans-serif}a{color:#00e}a:visited{color:#551a8b}a:focus{outline:thin dotted}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}pre,code,kbd,samp{font-family:monospace, monospace;_font-family:'courier new', monospace;font-size:1em}pre{white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}ul,ol{margin:1em 0;padding:0 0 0 40px}dd{margin:0 0 0 40px}nav ul,nav ol{list-style:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}fieldset{margin:0 2px;padding:.35em .625em .75em}legend{border:0;margin-left:-7px}button,input,select,textarea{font-size:100%;vertical-align:middle;margin:0}button,input{line-height:normal;overflow:visible}table button,table input{overflow:auto}button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}input[type=checkbox],input[type=radio]{box-sizing:border-box}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}body,figure,form{margin:0}
// END: normalize.css

/* GENERAL (a generic framework) */
.clear { clear: both; }
.hidden { display: none; }
img { border: 0; outline: none; }
div#container { margin: 0 auto; }
.float-left { float: left; }
.float-right { float: right; }
a:active { outline:none; }
a:focus { -moz-outline-style:none; }
label { display: block; }
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }
.top { vertical-align: top; }
.middle { vertical-align: middle; }
.pad-right { padding-right: 10px; }
ul, ol { margin: 2px 0; padding-left: 30px; }
.bold { font-weight: bold; }
.small { font-size: 80%; }
.p { margin: 10px; }
.nopad { padding: 0 !important; }
.nomargin { margin: 0; }
.nowrap { white-space: nowrap; }

body {
  font-family: Arial, Verdana;
  font-size: 12px;
  background: url('/static/images/bg-noise.gif') repeat top left;
}

a { color: #1d2a41; }
a:hover { color: #1b376a; }
.bold { font-weight: bold; }
#super-container {
  background: url('/static/images/bg-gradient.gif') repeat-x top left;
  padding: 40px 0;
}
#container {
  width: 720px;
  margin: 0 auto;
}

.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url(/static/images/glyph-icons.png);
  vertical-align: middle;
}

a                .icon-chat2 { background-position:    0px   0px; }
a:hover          .icon-chat2 { background-position:    0px -48px; }
a.disabled:hover .icon-chat2 { background-position:    0px -96px; }
a.disabled.hover .icon-chat2 { background-position:    0px -96px; }
/*.icon-            { background-position:  -32px   0  ; }
.icon-            { background-position:  -48px   0  ; }
.icon-            { background-position:  -64px   0  ; }
.icon-            { background-position:  -80px   0  ; }
.icon-            { background-position:  -96px   0  ; }
.icon-            { background-position: -112px   0  ; }
.icon-            { background-position: -128px   0  ; }*/

h2 {
  font-size: 120%;
  margin-bottom: 1ex;
  font-weight: bold;
  margin-bottom: 2ex;
}
p {
  margin-bottom: 1.5ex;
}
ul {
  list-style: circle;
} 
ul li {
  margin: 1.5ex 1.5em;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

.page {
  margin: 20px 10px;
  padding: 10px;
  border: 1px dotted #444;
  text-align: center;
}

.play {
  text-align: center;
}

table.stimuli {
  width: 90%;
  margin: 10px auto 20px auto;
}
table.stimuli td {
  text-align: center;
  vertical-align: middle;
  width: 33%;
}
table.stimuli td.control {
  font-size: 110%;  
}
table.stimuli_choice {
  margin: 0 auto;
}
table.stimuli_choice td {
  font-size: 110%;
  text-align: left;
  padding: 3px;
  width: auto;
}
/*table.stimuli_choice td input {
  
}*/
table.sureness {
  width: 100%;
  margin: 0 auto 10px;
}
table.sureness td.label {
  width: 15%;
  vertical-align: top;
  font-size: 90%;
}
table.sureness td.input {
  padding-top: 0.75ex;
  font-size: 12px;
}
.slider {
  margin: 0 1em;
}


#debug {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2px 4px;
  font-size: 80%;
  font-variant: small-caps;
}
#next {
/*  font-size: 70%;*/
  margin: 2ex;
}

#progress_footer {
  position: fixed;
  bottom: 1ex;
  width: 100%;
  left: 0;
  right: 0;
  font-size: 80%;
  line-height: 1.5;
}
#progress_footer td {
  vertical-align: top;
}
#progress_footer span {
  
}
#progressbar {
  height: 8px;
}
#shortcuts_button {
  font-size: 90%;
  font-variant: small-caps;
}
#shortcuts_button:link {
  text-decoration: none;
}
#shortcuts_button:hover {
  text-decoration: underline;
}
#shortcuts {
  margin: 8px;
  font-size: 90%;
}
#shortcuts table {
  margin-top: 5px;
}
#shortcuts td.key {
  font-family: "Courier New", Courier, sans-serif;
  padding-right: 12px;
  text-align: center;
}
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.small { font-size: 90%; }
.smaller { font-size: 80%; }
table.padcell td { padding: 2px 4px; }
table.twocol { width: 100%; }
table.twocol td { width: 50%; }
