* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Verdana;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
a {
  color: #2d3a51;
  &:hover {
    color: #2b578a;
  }
}
section {
  margin: 10px auto;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FDFDFD;
  padding: 0 2px;
  width: 100%;
  border-bottom: 1px solid #CCC;
  a, span {
    display: inline-block;
    padding: 2px 6px;
    margin: 2px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid transparent;
  }
  a {
    border: 1px solid #999;
    &:hover {
      background-color: #F7F7F7;
    }
    &.current {
      background-color: #F5F5F5;
    }
  }
}
button {
  margin: 0;
}
table {
  border-collapse: collapse;
  th {
    text-align: left;
  }
  th, td {
    padding: 2px 4px;
  }
}
ul li {
  padding: .5ex 0;
}

.nowrap {
  white-space: nowrap;
}
.admin {
  padding: 20px 5px 5px;
  table.tablesorter td {
    border-bottom: 1px solid #eee;
  }
  time {
    white-space: nowrap;
  }
}
.filters {
  label {
    span {
      font-weight: bold;
      display: block;
    }
    display: inline-block;
    margin: 0 10px 10px 0;
  }
}

#container {
  background: white;
  width: 720px;
  margin: 10px auto;
}
#stage {
  text-align: center;
}

table.stimuli {
  width: 90%;
  margin: 10px auto 20px auto;
  td {
    text-align: center;
    vertical-align: middle;
    width: 33%;
  }
  td.control {
    font-size: 110%;
  }
}
table.stimuli_choice {
  margin: 0 auto;
  td {
    font-size: 110%;
    text-align: left;
    padding: 3px;
    width: auto;
  }
}

.progress-bar {
  border: 1px solid black;
  height: 10px;
  width: 100%;
  div {
    background-color: black;
    height: 10px;
  }
}

table.choices {
  text-align: center;
  img {
    width: 160px;
    height: 160px;
  }
  button {
    font-size: 110%;
    padding: 3px 30px;
  }
}

input[type=text], input[type=password] {
  margin: 2px 0 8px;
  display: block;
}
form {
  & > div[id] {
    margin: 10px 0;
  }
  label {
    display: block;
    span:first-child {
      font-weight: bold;
    }
    input[type=radio], input[type=checkbox] {
      margin: 4px 2px 5px 2px;
    }
  }
}

.flag {
  position: absolute;
  background-color: black;
  border-radius: 3px;
  padding: 2px 6px;
  color: white;
  .triangle {
    position: absolute;
    border: 6px solid transparent;
  }
}
