@import 'lib/normalize';

body {
  font-family: Arial, Verdana;
  font-size: 12px;
}

.nowrap { white-space: nowrap; }
a { color: #2d3a51; }
a:hover { color: #2b578a; }

#container {
  background: white;
  width: 720px;
  margin: 0 auto;
  padding: 30px;
}

table.stimuli {
  width: 90%;
  margin: 10px auto 20px auto;
  td {
    text-align: center;
    vertical-align: middle;
    width: 33%;
  }
  td.control {
    font-size: 110%;
  }
}
table.stimuli_choice {
  margin: 0 auto;
  td {
    font-size: 110%;
    text-align: left;
    padding: 3px;
    width: auto;
  }
}

// #debug {
//   position: fixed;
//   top: 0;
//   left: 0;
//   padding: 2px 4px;
//   font-size: 80%;
//   font-variant: small-caps;
// }

#stage {
  text-align: center;
}

.progress-bar {
  border: 1px solid black;
  height: 10px;
  width: 100%;
  div {
    background-color: black;
    height: 10px;
  }
}

table.choices {
  text-align: center;
  img {
    width: 160px;
    height: 160px;
  }
  button {
    font-size: 110%;
    padding: 3px 30px;
    text-transform: capitalize;
  }
}

input[type=text], input[type=password] {
  margin: 2px 0 8px;
  display: block;
}
#form {
  & > div[id] {
    margin: 15px 0;
  }
  label {
    display: block;
    font-weight: bold;
    input[type=radio], input[type=checkbox] {
      margin: 4px 2px 5px 2px;
    }
  }
}

.flag {
  position: absolute;
  background-color: black;
  border-radius: 4px;
  padding: 3px;
  color: white;
  // like a diamond -- half-diameter measure
  .triangle {
    display: inline-block;
    position: absolute;
    border: 6px solid transparent;
    width: 0;
    height: 0;
  }
  .subflag {
    display: inline-block;
    span, a {
      display: inline-block;
      padding: 0 4px;
    }
    a {
      background-color: white;
      border-radius: 2px;
    }
  }
}