*{box-sizing:border-box}
body{font-family:Arial,Verdana;font-size:12px}
a{color:#2d3a51}a:hover{color:#2b578a}
nav{position:fixed;top:0;left:0;background-color:#fdfdfd;padding:0 2px;width:100%;border-bottom:1px solid #ccc}nav a,nav span{display:inline-block;padding:2px 6px;margin:2px;background-color:#fff;border-radius:2px;border:1px solid transparent}
nav a{border:1px solid #999}nav a:hover{background-color:#f7f7f7}
.admin{padding:20px 5px 5px}
button{margin:0}
table{border-collapse:collapse}table th{text-align:left}
table th,table td{padding:2px 4px}
.nowrap{white-space:nowrap}
#container{background:#fff;width:720px;margin:0 auto;padding:30px}
#stage{text-align:center}
table.stimuli{width:90%;margin:10px auto 20px auto}table.stimuli td{text-align:center;vertical-align:middle;width:33%}
table.stimuli td.control{font-size:110%}
table.stimuli_choice{margin:0 auto}table.stimuli_choice td{font-size:110%;text-align:left;padding:3px;width:auto}
.progress-bar{border:1px solid #000;height:10px;width:100%}.progress-bar div{background-color:#000;height:10px}
table.choices{text-align:center}table.choices img{width:160px;height:160px}
table.choices button{font-size:110%;padding:3px 30px}
input[type=text],input[type=password]{margin:2px 0 8px;display:block}
form>div[id]{margin:10px 0}
form label{display:block}form label span:first-child{font-weight:bold}
form label input[type=radio],form label input[type=checkbox]{margin:4px 2px 5px 2px}
.flag{position:absolute;background-color:#000;border-radius:4px;padding:3px;color:#fff}.flag .triangle{display:inline-block;position:absolute;border:6px solid transparent;width:0;height:0}
.flag .subflag{display:inline-block}.flag .subflag span,.flag .subflag a{display:inline-block;padding:0 4px}
.flag .subflag a{background-color:#fff;border-radius:2px}
